.image-tag{
  background-image: url("https://images.unsplash.com/photo-1626198226928-617fc6c6203e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  height: 400px;
  width: 400px;
  background-position: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body{
  color: antiquewhite;
}

button{
  border: none;
  padding: 10px;
  color: white;
  font-weight: bold;
  width: 150px;
  margin-bottom: 5px;
  border-radius: 5px;
}

#increment-btn{
  background-color: darkred;
}

#save-btn{
  color: black;
}