.red-circle{
  height: 150px;
  width: 150px;
  background-color: red;
  border-radius: 100%;
  display: block;
  margin:  40px auto 100px auto;
}

.box{
  width: 500px;
  background-color: white;
  height: 500px;
}
