body{
  margin: 0;
}
.red{
  background: red;
  height: 100px;
  margin-bottom: 15px;
}
.blue{
  background: blue;
  height: 100px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.green{
  background: green;
  height: 100px;
}