body{
  background: whitesmoke
}

.main{
    margin-top: 100px;
}
.input{
  width: 400px;
  display: block;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  line-height: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-width: 1px;
  border-color: #dfe1e5;
  border-radius: 24px;
}
.image{
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
 

.button{

  margin-left: 15px;
  margin-top: 20px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #dfe1e5;
  border: none;
  border-radius: 5px;


}

.btn-wrapper{
  display: flex;
  justify-content: center;
}

