body{
  background: whitesmoke
}

.main{
    margin-top: 100px;
}
.input{
  width: 400px;
  display: block;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
}
.image{
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

